body{
    padding: 0;
    margin: 0;
}

.fondo{
    width: 100vw;
    height: 100%;
    position: fixed;
    margin: auto;
}

.fondo>img{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: auto;
}

.inicio{
    width: 100%;
    height: 100%;
}

.perga{
    float: right;
    margin: 0;
    width: 40%;
    height: 100vh;
    margin-right: 10%;
    position: relative;
    background-color: white;
    box-shadow: 5px 0px 30px 20px;
}

.form{
    margin-top: 29%;
    margin-left: 18%;
}

.form h1{
    font-size: 5rem;
}

.form input{
    height: 40px;
    width: 65%;
    padding: 5% 5% 3% 2%;
    background : inherit;
    font-size: 2.5rem;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(77, 76, 76);
    display: block;
    margin-top: 2%;
}

.form a{
    text-decoration: none;
    font-size: 2.9rem;
    padding: 5% 3% 5% 2%;
    position: relative;
    top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
    margin-top: 20%;
}

.todo{
    position: relative;
}

.flex-column{
    width: 14%;
    margin-top: 13%;
    margin-left: -11.5%;
    font-size: 2rem;
    z-index: 10;
    box-shadow: 5px 0px 70px 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3%;
}

.contu{
    width: 10%;
    height: 10%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgb(245, 245, 245);
    border-radius: 10%;
    box-shadow: 5px 5px 10px 5px;
}

.infou>h1{
    font-size: 3rem;
    position: relative;
    margin: auto;
    text-align: center;
}

.infou>h2{
    font-size: 3rem;
    position: relative;
    margin: auto;
    text-align: center;
}

.tab-content{
    width: 70%;
    height: 700px;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.452);
    margin-left: 0.5%;
    border-radius: 2%;
    box-shadow: 5px 0px 30px 20px;
}

.list-group{
    position: relative;
    width: 14%;
    float: right;
    margin-top: -25%;
    margin-right: 0.5%;
    font-size: 1.5rem;
    box-shadow: 5px 0px 70px 20px;
}


.overlay{
    background: #00000080;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.popup{
    background: cornsilk;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0,.3);
    border-radius: 3px;
    font-family: 'Oleo Script', cursive;
    padding: 20px;
    text-align: center;
    width: 600px;   
}

.popup .btn-lol{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    cursor: pointer;
}

.popup .btn-cerrar{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    cursor: pointer;
}

.popup .btn-lol:hover{
    background: chocolate;
}

.popup .btn-cerrar:hover{
    background: chocolate;
}


.contE{
    width: 100%;
    height: 200px;
    position: relative;
}

.contM{
    width: 100%;
    height: 220px;
    position: relative;
}

.contU{
    width: 100%;
    height: 280px;
    position: relative;
}

.contE > .cartasE{
    width: 70%;
    height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.contM > .mazoD{
    width: 13%;
    height: 200px;
    background-color: white;
    position: relative;
    margin-right: auto;
    top: 10px;
    left: 35%;
    border-radius: 5%;
}

.contM > .mazo{
    width: 13%;
    height: 200px;
    background-color: white;
    position: relative;
    margin-left: auto;
    top: -190px;
    right: 35%;
    border-radius: 5%;
}

.contU > .cartasU{
    width: 70%;
    height: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
}

.contE >.cartasE > .carta1{
    width: 14%;
    height: 160px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 5%;
}

.contU >.cartasU > .carta1{
    width: 18%;
    height: 190px;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 4%;
    border-radius: 5%;
}

.lol3{
    margin-left: 0.5%;
}

